@import './../../assets/colors';
@import './../../media';


.user-card {
  display: flex;
  width: 100% ;
  height: 55px !important;
  cursor: move;
}

.user-card__photo {
  width: 20%;
  border: 1px solid $medium-gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-card__info {
  width: 80%;
  padding-bottom: 2px;
  border: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;

  .user-card__infoField {
    height: 50%;
    font-size: 10px;
    padding-left: 4px;
    background-color: $light-blue;
    font-family: 'GothamPro';
    font-weight: 300;

    &:first-child {
      border-bottom: 1px solid $medium-gray;
    }
  }
}

.small-width {
  width: 60%;
}

.user-card__delete-from-favorite {
  width: 20%;
  border: 1px solid $medium-gray;

  .user-card_delete-from-favorite__button {
    width: 100%;
    height: 100%;
    background-color: $light-green;
    color: black;
  }
}
