@import './../../assets/colors';


  .favorite_user {
    margin-bottom: 10px;
  }

  .highlightList {
    border: 4px solid rgba(48, 206, 48, 0.796);
  }

  .favorite-users__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'GothamPro';
    font-weight: 500;
    font-size: 20px;
  }
